@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@{
var isAdmin = User.HasClaim(ClaimTypes.Role, "Admin");
bool hasSpecificPrivilege = User.Claims.Any(c => c.Type == "Privilege" && c.Value == "Settings");

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Customer_Management</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
     @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> *@
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Customer_Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard"
                                asp-action="ViewCustomers">ViewCustomers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard"
                                asp-action="AddCustomers">AddCustomers</a>
                        </li> *@
                        <li class="nav-item view-customers">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard"
                                asp-action="ViewCustomers">ViewCustomers</a>
                        </li>
                        <li class="nav-item add-customers">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard"
                                asp-action="AddC">AddCustomers</a>
                        </li>
                        <li class="nav-item view-tree">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard"
                                asp-action="Tree">ViewTree</a>
                        </li>
                        @if (hasSpecificPrivilege)
                        {
                        <li class="nav-item settings">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DashBoard"
                                asp-action="Admin">Settings</a>
                        </li>
                         @* @await Html.PartialAsync("Settings") *@
                        }

                    </ul>

                    <ul class="navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account"
                                asp-action="Login">Login</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        @* <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="logout-drop">
                                <a class="dropdown-item" asp-area="" asp-controller="Account"
                                    asp-action="Logout">Logout</a>
                            </div>
                        </li> *@

        
                        @await Html.PartialAsync("LogoutDropdown")

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Customer_Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   

    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>