.modal-content{
    width: auto !important;
}
.form-check {
    
    padding-left: 2em;
}
#follow-up_filter{
    margin-bottom: 21px;
}
#followup-table{
    margin: auto;
}
#editModal{
    overflow-y: auto;
}