@{
    Layout = "_DashboardLayout";    
       
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A</title>
</head>
<body>

    <div class="buttonGroup">
        <p>Tree Structure</p>

    </div>

    <div id="chart">

    </div>
      <link rel="stylesheet" href="~/css/tree.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="~/js/d3.js"></script>
    <script src="~/js/d3-selection-multi.js"></script>
    <!-- <script type="text/javascript" src="./treedata.json"></script>  -->
    @* <script type="text/javascript" src="./t.json"></script>  *@
    <script src="~/js/Tree.js"></script>

</body>
</html>